@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spirax&display=swap');


.bg-image {
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0%;
    border-bottom: solid darkred 13px;
    min-width: 100%;
    min-height: 100%;
    
}
.menu {
    height: 70px;
    font-size: 30px;
    display:flex;
    width: 100%;
    position: fixed;
    color: white;
    background-color: rgba(165,42,42,0.5);
    font-family: "Spirax", system-ui;
    font-style: normal; 
    line-height: 1rem;
    justify-content: center;
    margin-top: 0;
    z-index: 10;
}
.menu > * {
    margin-left: 45px;
    margin-right: 45px;
}
.menu p:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}
.menu a:visited {
    text-decoration: none;
    color: white;
}

.hot {
    display: flex;
    font-family: "Spirax",system-ui;
    color: darkred;
    font-size: 70px;
    position: absolute;
    margin-top: 0;
    padding-top: 5px;
    margin-left: 43%;
    margin-right: 35%;
    max-height: 10px;
}

.pa {
    font-size: 25px;
    font-family: "Poiret One";
    color: white;
    background-color: rgba(139, 0, 0, 0.65);
    max-width: 50%;
    position: absolute;
    display: flex;
    top: 38%;
    left: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1rem;
}

.pa2 {
    font-size: 25px;
    font-family: "Poiret One";
    color: white;
    background-color: rgba(139, 0, 0, 0.65);
    max-width: 50%;
    position: absolute;
    display: flex;
    left: 35%;
    top: 50%;
    max-width: 50%;
    min-width: 44%;
    justify-content: center;
    line-height: 1rem;
}

.list {
    font-family: "Poiret One";
    font-size: 25px;
    color: white;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    display: flex;
    top:62%;
    left: 25%;
    min-width: 30%;
    padding-left: 5rem;
    justify-content: space-between;
    gap: 20rem;
    padding-right: 5rem;
    margin-right:5vw;
}

.list:last-child {
    text-align: right;
}

.juicypage {
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0%;
    border-bottom: solid darkred 13px;
    min-width: 100%;
    min-height: 100%;
}

.juicy{
    display: flex;
    font-family: "Spirax", system-ui;
    color: darkred;
    align-content: center;
    justify-content: center;
    font-size: 80px;
    position: relative;
}

.juicy p {
    font-size: 30px;
    padding: 1rem;
    font-family: "Poiret One";
    color: white;
    background-color: rgba(139, 0, 0, 0.65);
    position:absolute;
    display: flex;
    top: 38%;
    left: 15%;
    min-width: 50%;
    margin-top: 10%;
    justify-content: center;
}

#it {
    top: 65%;
    left: 30%;
}

.list2 {
    font-family: "Poiret One";
    font-size: 25px;
    color: white;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    display: flex;
    top:170%;
    left: 25%;
    min-width: 30%;
    padding-left: 5rem;
    justify-content: space-between;
    gap: 20rem;
    padding-right: 5rem;
    margin-right:5vw;
}

.list2:last-child:last-child {
    text-align: right;

}

.cosypage {
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0%;
    min-width: 100%;
    min-height: 100%;
    
}

h1 {
    display: flex;
    font-family: "Spirax", system-ui;
    color: darkred;
    justify-content: center;
    font-size: 100px;
    position: relative;
    top: 15%;
}

.last p {
    font-size: 30px;
    padding: 1rem;
    font-family: "Poiret One";
    color: white;
    background-color: rgba(139, 0, 0, 0.65);
    position:relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 15%;
    max-width: 50%;

}

#last2 {
    margin-top: 1%;
    margin-left: 30%;
    position: relative;
}

.info {
    font-family: "Poiret One";
    font-size: 25px;
    color: white;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    display: flex;
    top:280%;
    left: 25%;
    min-width: 30%;
    padding-left: 3rem;
    justify-content: space-between;
    gap: 20rem;
    padding-right: 3rem;
    margin-right:5vw;
}